<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <script defer src="/javascript/weather.js"></script>
  </head>
  <body>
    <!-- WHOLE PAGE -->
    <div>
      <!-- NAV SIDE BAR -->
      <div id="nav">
        <img src="/images/Logo.png">
        <hr>
        <!-- WEATHER DISPLAY -->
        <div>
          <p id="time"></p>
          <hr>
          <p id="city">Chicago</p>
          <p id="currentTemp"></p>
          <p id="weather"></p>
        </div>
        <hr>
        <!-- OTHER LINKS -->
        <div th:if="${session.accountID == null}">
          <div id="login">
            <a th:href="@{/login}" style="padding-right: 20px;">
              <button>Login</button>
            </a>
            <a th:href="@{/signup}">
              <button>Sign Up</button>
            </a>
          </div>
        </div>
        <div th:unless="${session.accountID == null}" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <form th:action="@{/logout}" method="get">
            <button type="submit">Logout</button>
          </form>
          <br>
          <p th:text="'Welcome back, ' + ${session['username']} + '!'"></p>
        </div>
      </div>
      <!-- MAIN PAGE-->
      <div>
        
      </div>
    </div>
  </body>
</html>