<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
    <script defer src="/javascript/weather.js"></script>
  </head>
  <body>
    <div id="body" style="background-color: black; display: flex; flex-direction: column; align-items: center; min-height: 100vh;">
      <img src="/images/Logo.png">
      <br>
      <hr style="width: 50vw;">
      <br>
      <!-- LOGIN FORM -->
      <form action="/loginAttempt" method="post" style="color: white">
      
        <div style="display: flex; justify-content: center;">
          <label style="font-size: 20pt">Username:</label>
          <input type="text" id="username" name="username"><br>
        </div>
        <br>
        <div style="display: flex; justify-content: center;">
          <label style="font-size: 20pt">Password:</label>
          <input type="password" id="password" name="password"><br>
        </div>
  
        <br>
        <br>
        <div style="display: flex; justify-content: center;">
          <button type="submit" style="font-size: 20px; padding: 10px;">Log In</button>
        </div>
        <br>
      </form>
      <hr style="width: 50vw;">
      <br>
      <div style="display: flex; justify-content: center; align-items: center;">
        <a href="/" style="padding-right: 20px;">
          <button style="font-size: 20pt;">Back</button>
        </a>

        <a th:href="@{/signup}">
          <button style="font-size: 20pt">Sign Up</button>
        </a>  
      </div>
    </div>
  </body>
</html>