#body {
  display: flex;
  flex-direction: row;
}

hr {
  color: white;
  min-width: 230px;
}

#nav {
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-height: 100vh;
  color: white;
}

#time, #city, #weather {
  display: flex;
  font-size: 20pt;
  justify-content: center;
  align-items: center;
}

#currentTemp {
  display: flex;
  font-size: 40pt;
  justify-content: center;
  align-items: center;
}

#weather {
  padding-left: 10px;
}

#login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#body2 {
  flex-grow: 1;
  font-size: 15pt;
}